In [ ]:
import pandas as pd

import mysql.connector 
import sqlalchemy
from sqlalchemy import create_engine, insert, table

In [ ]:
usuario = "root"
pw = "s41nt"
bd = "aemet"

# Crear la conexión
motor = create_engine(f"mysql+pymysql://{usuario}:{pw}@localhost/{bd}")

# Abrir una conexión
conectar = motor.connect()

# Cerrar la conección
#conectar.close()

In [33]:
df = pd.read_csv(r'.\data\temperaturas_historicas_ampliadas.csv')

In [34]:
df.columns

Index(['fecha', 'indicativo', 'nombre', 'provincia', 'altitud', 'tmed', 'prec',
       'tmin', 'horatmin', 'tmax', 'horatmax', 'dir', 'velmedia', 'racha',
       'horaracha', 'hrMedia', 'hrMax', 'horaHrMax', 'hrMin', 'horaHrMin',
       'estacion_id', 'presMax', 'horaPresMax', 'presMin', 'horaPresMin',
       'sol'],
      dtype='object')

In [35]:
valores_insertar = {}
for col in df.columns:
    
    valores_insertar.update({col: df[col][0]})

print(valores_insertar)

{'fecha': '2023-05-29', 'indicativo': 'B013X', 'nombre': 'ESCORCA, LLUC', 'provincia': 'ILLES BALEARS', 'altitud': np.int64(490), 'tmed': '18,0', 'prec': '2,5', 'tmin': '14,6', 'horatmin': '23:00', 'tmax': '21,4', 'horatmax': '12:30', 'dir': np.float64(22.0), 'velmedia': '0,8', 'racha': '5,0', 'horaracha': '11:50', 'hrMedia': np.float64(81.0), 'hrMax': np.float64(97.0), 'horaHrMax': 'Varias', 'hrMin': np.float64(57.0), 'horaHrMin': '12:40', 'estacion_id': 'B013X', 'presMax': nan, 'horaPresMax': nan, 'presMin': nan, 'horaPresMin': nan, 'sol': nan}

In [37]:
# --- Usando df.to_sql() ---
try:
    print(f"Iniciando inserción de {len(df)} filas usando df.to_sql()...")
    # 'datos_meteorologicos' es el nombre de tu tabla en MySQL
    # 'engine' es el motor SQLAlchemy que creamos
    # 'if_exists='append'' significa que añadirá las filas (no reemplaza ni falla si ya existe)
    # 'index=False' para no escribir el índice del DataFrame como una columna
    # 'method='multi'' es bueno para MySQL, inserta múltiples filas por sentencia INSERT.
    # 'chunksize' puede ayudar a gestionar la memoria para DataFrames muy grandes.
    #  Ajusta chunksize según la memoria disponible y el ancho de tus filas.
    df.to_sql(
        name='datos_meteorologicos_table', # Nombre de la tabla
        con=motor,
        if_exists='append',
        index=False,
        method='multi', # Muy importante para el rendimiento con MySQL
        chunksize=10000  # Inserta en lotes de 10000 filas, ajusta según necesidad
    )
    print(f"¡{len(df)} filas insertadas correctamente usando df.to_sql()!")

except Exception as e:
    print(f"Error durante la inserción con df.to_sql(): {e}")

Iniciando inserción de 225223 filas usando df.to_sql()...
¡225223 filas insertadas correctamente usando df.to_sql()!